a {
	font-family: arial;
	font-size: 14px;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: black;
	background-color: lime;
}
